# Code Mémoire M2

In [5]:
#%pip install data-wrangler (installe ça Nakad)
import numpy as np
import pandas as pd
import requests
import gzip
import zipfile

In [8]:
import os
os.chdir('/Users/eskenderayadi/Library/CloudStorage/OneDrive-UPEC/2 - M2 Maserati/M2 Maserati DS/99 - Projet Anglais/')

In [10]:
url = "https://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
reponse = requests.get(url)

with open("ml-latest-small.zip", "wb") as f:
    f.write(reponse.content)

with zipfile.ZipFile("ml-latest-small.zip", "r") as z:
    with z.open("ml-latest-small/ratings.csv", "r") as source_file:
        with open("ml-latest-small.csv", "wb") as file:
            file.write(source_file.read())

In [12]:
ratings = pd.read_csv("ml-latest-small.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [14]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [16]:
ratings.rating.describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [18]:
movies = pd.read_csv("ml-latest-small/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
full = pd.merge(ratings, movies, on="movieId")
full.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [23]:
full[full["rating"] == 5][["rating", "title"]].head(10)

    rating                                      title
3      5.0                Seven (a.k.a. Se7en) (1995)
4      5.0                 Usual Suspects, The (1995)
6      5.0                       Bottle Rocket (1996)
8      5.0                             Rob Roy (1995)
9      5.0                      Canadian Bacon (1995)
10     5.0                           Desperado (1995)
11     5.0                       Billy Madison (1995)
13     5.0     Dumb & Dumber (Dumb and Dumber) (1994)
15     5.0  Star Wars: Episode IV - A New Hope (1977)
18     5.0                           Tommy Boy (1995)

In [26]:
tags = pd.read_csv("ml-latest-small/tags.csv")
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [28]:
tags.tag.value_counts()

tag
In Netflix queue     131
atmospheric           36
thought-provoking     24
superhero             24
funny                 23
                    ...
small towns            1
In Your Eyes           1
Lloyd Dobbler          1
weak plot              1
Heroic Bloodshed       1
Name: count, Length: 1589, dtype: int64